
.MenuBar {
    -fx-background-color: #01A9DB;
    -fx-color: #ffffff;
   
}

.botonAzul {
    -fx-background-color: #01A9DB;
    -fx-color: #ffffff;  
}
.fieldAzul {
    -fx-background-color:  transparent;
    -fx-border-color: #01A9DB;  
    -fx-border-width: 0px 0px 2px 0px;
}

